/* This is used to reset any existing CSS present  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem
}

@media (max-width: 400px) {
  body {
    font-size: 14px;
    margin: 5px;
  }
  input[type="text"]{
    width: fit-content;
  }
}
